body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif
}

.game-view {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-msg {
  margin: auto auto 1rem auto;
}

.info-msg+.timer {
  margin: 1rem auto auto auto
}

.players-view {
  width: calc(100% - 2rem - 350px);
  height: 300px;
  margin: 2rem 380px 2 rem auto;
  list-style: none;
}

.player {
  display: flex;
  justify-content: space-between;
}

.player--red{
  color: red;
}

.player__name,
.player__score {
  font-weight: bold;
}

.key__race-container {
  height: 450px;
  margin: auto 3rem;
}

.key__entered {
  color: green
}

.key__current {
  color: blue;
  background-color: white;
}

.timer {
  height: 2rem;
  align-self: flex-end;
  margin-right: 2rem;
  margin-bottom: 2rem;
  text-align: right;
}

.button {
  margin: auto;
  padding: 5px;
  border: 2px solid purple;
  background-color: wheat;
  font-size: 24px;
}

.announcer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 350px;
  display: flex;
}

.portrait {
  width: 150px;
  float: left;
}